<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
  body {
    background-image: url("https://img.magnific.com/premium-vector/pink-cloud-aesthetic-grid-template_363897-17156.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center;
    
}
</style>
</head>
<body>
<h1>Sign up Page</h1>

<form method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" class="btn">SIGN UP</button>
</form>
</body>
</html>